/*
COLORS:
light teal #33CC99 hover color: #2db789
RGB: (51,204,153)   (45,183,137)
blue #000058  hover color: #323279
RGB: (0,0,88)   (50,50,121)
maroon: #B3329C  hover color:  #A00084
RBG: (179,50,156)   (160,0,132)
Dark Grey: #2E2E2E
RGB: (46,46,46)
Light Grey: #ABABAB
RGB: (171,171,171)
 */


/*
MEDIA QUERIES
	Tablet Landscape 1200px: max-width: 75em
	Tablet Portrait 900px: max-width: 56.25em
	Phone 600px: max-width: 37.5em
	Big Desktop 1800px: min-width: 112.5em
*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em), (max-width: 75em) {
	html {
		font-size: 50%;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	html {
		font-size: 45%; }
	}
}

/* Big Desktop Styles */
@media only screen and (min-width: 112.5em) {
	html {
		font-size: 75%; }
}


body {
	box-sizing: border-box;
	padding: 2rem;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	line-height: 1.7;
	color:  #2E2E2E;
	background-color: #eee;
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em),(max-width: 75em) {
  body {
    padding: 0;
  }
}



/* UTILITY STYLING */

.u-center-text { text-align: center !important;}

.u-margin-top-huge { margin-top: 5rem !important;}

.u-margin-bottom-small { margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium { margin-bottom: 4rem !important;}
.u-margin-bottom-big { margin-bottom: 8rem !important;}

/* FONT STYLING */

.heading-primary {
	font-size: 6rem;
	color: #A00084;
	text-shadow: 2px 1px .5px #2E2E2E;
}

.heading-secondary {
	font-size: 4rem;
	color: #A00084;
	text-shadow: 1px 1px .5px #2E2E2E;
}


/* HEADER SECTION STYLING */

.header {
	height: 95vh;
	background-image: linear-gradient(
		rgba(0, 0, 88, 0.8),
		rgba(51, 204, 153, 0.8)),
		url(../images/code.jpeg);
	background-size: cover;
	background-position: top;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 53%, 63% 70vh, 0 45%);
	clip-path: polygon(0 0, 100% 0, 100% 53%, 63% 70vh, 0 45%);
	position: relative;
	z-index: 7;
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.header {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 48%, 63% 60vh, 0 45%);
		clip-path: polygon(0 0, 100% 0, 100% 48%, 63% 60vh, 0 45%);
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.header {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 63% 40vh, 0 33%);
		clip-path: polygon(0 0, 100% 0, 100% 33%, 63% 40vh, 0 33%);
	}
}



.header__logo {
	font-size: 6rem;
	font-weight: 700;
	text-shadow: 2px 1px 1px #2E2E2E;
	color: #33CC99;
}

.header__logo-box {
	position: absolute;
	top: 3rem;
	left: 4rem;
}


/* NAVIGATION STYLING */

.navigation__checkbox {
	display: none;
}


.navigation__button {
	background-color: #fff;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	position: fixed;
	top: 5rem;
	right: 6rem;
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(0,0,0, .1);
	text-align: center;
	cursor: pointer;
}


.navigation__background {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	position: fixed;
	top: 6rem;
	right: 6.4rem;
	background-image: radial-gradient(rgba(0, 0, 88),
	rgba(51, 204, 153, 0.8));
	z-index: 1000;
	transition: transform .8s cubic-bezier(0.86,0,0.07,1);
}


.navigation__nav {
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1500;
	opacity: 0;
	width: 0;
	transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
}

.navigation__item {
	margin: 1rem;
}


.navigation__link:link,
.navigation__link:visited {
	display: inline-block;
	font-size: 4rem;
	font-weight: 300;
	padding: 0 1rem;
	color: #fff;
	text-decoration: none;
	background-image: linear-gradient(115deg, transparent 0%, transparent 50%, rgba(0,0,88, 0.6) 50%);
	background-size: 220%;
	transition: all .7s;
}

.navigation__link:hover,
.navigation__link:active {
	color: #2db789;
	background-position: 100%;
	transform: translateX(1rem);
}


/* NAVIGATION FUNCTIONALITY */
.navigation__checkbox:checked ~ .navigation__background {
	transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
	width: 100%;
	opacity: 1;
}

/* NAVIGATION ICON */
.navigation__icon {
	position: relative;
	margin-top: 2.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
		width: 3rem;
		height: 2px;
		background-color: #2E2E2E;
		display: inline-block;
	}

.navigation__icon::before,
.navigation__icon::after {
		content: "";
		position: absolute;
		left: 0;
		transition: all .2s;
	}

.navigation__icon::before {top: -.8rem;}
.navigation__icon::after {top: .8rem;}


.navigation__button:hover .navigation__icon::before {
	top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
	top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
	background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
	top: 0;
	transform: rotate(135deg);

}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
	top: 0;
	transform: rotate(-135deg);
}



/* GRID STYLING */

.row {
	max-width: 114rem;
	margin: 0 auto;
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.row {
		max-width: 50rem;
		padding: 1.5rem;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.row {
		max-width: 60rem;
		padding: 1.5rem;
	}
}

.row [class^="col-"] {
    float: left;
 }


 /* Tablet Styles */
 @media only screen and (max-width: 56.25em){
 	.row [class^="col-"] {
 	  width: 100% !important; }
 }


.row [class^="col-"]:not(:last-child) {
	margin-right: 4rem;
 }

 /* Tablet Styles */
 @media only screen and (max-width: 56.25em){
 	.row [class^="col-"]:not(:last-child) {
 		margin-bottom: 5.5rem;
 	 }
 }

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.row [class^="col-"]:not(:last-child) {
		margin-bottom: 3.5rem;
	 }
}

.row .col-1-of-3 {
	width: calc((100% - 2 * 1rem) / 3);
	margin-right: 2rem;
}

.row .col-1-of-4 {
	width: calc((100% - 3 * 4rem) / 4);
}


/* INTERESTS STYLING */
.section-interests {
	background-image: linear-gradient(
			rgba(0, 0, 88, 0.8),
			rgba(51, 204, 153, 0.8));
	background-size: cover;
	height: 130rem;
	margin-top: -45rem;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 58% 80%, 0 67%);
	clip-path: polygon(0 0, 100% 0, 100% 70%, 58% 80%, 0 67%);
	z-index: 4;
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.section-interests {
		height: 300rem;
		margin-top: -65rem;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 68%, 58% 70%, 0 67%);
		clip-path: polygon(0 0, 100% 0, 100% 68%, 58% 70%, 0 67%);
	}
}

.interests {
	position: relative;
	margin: 1.2rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.interests__box {
	position: absolute;
	top: 30rem;
	left: 1.5rem;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0, .2);
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.interests__box {
		top: 22rem;
	}
}

.interests__box--design {
	position: absolute;
	top: 30rem;
	left: -3rem;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0, .2);
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.interests__box--design {
		top: 75rem;
		left: 1.5rem;
	}
}

.interests__box--ux-ui {
	position: absolute;
	top: 28.9rem;
	left: 75rem;
	width: 100%;
	background-color: #fff;
	/* transform: skewX(-15deg); */
	border-radius: 4px;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0, .2);
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.interests__box--ux-ui {
		top: 130rem;
		left: 1.5rem;
	}
}

.interests__picture {
	background-size: cover;
	height: 20rem;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}


.interests__picture--dev {
	background-image: url('images/developer.jpg');
	background-size: cover;
	z-index: 40;
}

.interests__picture--design {
	background-image: url('images/designer.jpeg');
	background-size: cover;
	z-index: 40;
}

.interests__picture--ux-ui {
	background-image: url('images/ux-ui.jpg');
	background-size: cover;
	z-index: 40;
}

.interests__heading {
	text-align: center;
	font-size: 3rem;
	padding-top: 3.5rem;
	color: #000058;
}

.interests__details {
	width: 100%;
	height: 25rem;
	font-size: 1.4rem;
	padding: 4rem;
	margin-bottom: 2rem;
}

.interests__btn {
	position: absolute;
	top: 17rem;
	left: 6rem;
}

.btn {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1.5rem;
	text-decoration: none;
	transition: all .2s;
	text-shadow: 1px 1px .5px #2E2E2E;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0, .2);
	color: #fff;
	background-color: #33CC99;
	border: none;
	border-radius: 3px;
	padding: 1rem 2rem;
	margin: 2rem;
	cursor: pointer;

}

.btn:hover {
	background-color: #2db789;
	box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
	transform: translateY(-2.5px);
}

.btn:active,
.btn:focus {
	outline: none;
	box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
	transform: translateY(-1.5px);
}

/* PROJECTS STYLING */
.section-projects {
	padding: 3rem 0 5rem 0;
	margin-top: -25rem;

}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.section-projects {
		margin-top: -90rem;
	}
}
.section-projects__header {
	margin: 2rem;
	text-align: center;
}
.section-projects__text {
	font-size: 1.5rem;
	color: #2E2E2E;
	padding: 2rem;
}

.project {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 35rem;
	z-index: 0;
}

.project__side {
	color: #fff;
	font-size: 2rem;
	height: 35rem;
	transition: all .8s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.project__side{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		box-shadow: none;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.project__side{
		box-shadow: none;
		width: 90%;
	}
}

.project__side--front {
	background-color: #fff;
	text-align: center;
	padding: 2.5rem;
}


.project__side--back {
	background-image: linear-gradient(to right bottom,
		rgba(0,0,88, .9),
		rgba(45,183,137, .6));
	transform: rotateY(180deg);
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.project__side--back {
		top: 11.5%;
		left: 0;
		transform: translate(-50%,-50%);
		background-image: linear-gradient(to right bottom,
			rgba(0,0,88),
			rgba(45,183,137));
		height: 15rem;
		-webkit-clip-path: polygon(51% 12%, 100% 0, 100% 100%, 0 100%, 0 0);
		clip-path: polygon(51% 12%, 100% 0, 100% 100%, 0 100%, 0 0);
		transform: rotateY(0deg);
		margin-top: 20rem;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.project__side--back {
		top: 4.5%;
		left: 5.5%;
		transform: translate(-50%,-50%);
		background-image: linear-gradient(to right bottom,
			rgba(0,0,88),
			rgba(45,183,137));
		height: 18rem;
		-webkit-clip-path: polygon(51% 12%, 100% 0, 100% 100%, 0 100%, 0 0);
		clip-path: polygon(51% 12%, 100% 0, 100% 100%, 0 100%, 0 0);
		transform: rotateY(0deg);
		margin-top: 19rem;
	}
}

.project:hover .project__side--front {
	transform: rotateY(-180deg);
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.project:hover .project__side--front {
		transform: rotateY(0deg);
	}
}

.project:hover .project__side--back{
	transform: rotateY(0deg);
}

.project__img > img {
	width: 12rem;
	height: 12rem;
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.project__img > img {
		margin: .5rem;
		float: left;
		width: 7rem;
		height: 7rem;
	}
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.project__img > img {
		margin: 1.5rem;
		float: left;
		width: 10rem;
		height: 10rem;
	}
}

.project__title {
	font-size: 2.5rem;
	color: #000058;
	padding: 0 1rem;
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.project__title {
		font-size: 3.5rem;
		padding: 0 2rem;
	}
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.project__title {
		font-size: 4rem;
		padding: 0 2rem;
	}
}


.project__details {
	font-size: 1.4rem;
	color: #2E2E2E;
	padding-top: 1rem;
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.project__details {
		font-size: 2rem;
		margin: 1.5rem;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.project__details {
		margin: 1rem;
	}
}

.project__buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
}

.project__btn-box {
	text-align: center;
	margin-bottom: 8rem;
}

.project__btn {
	font-size: 1.7rem;
	text-decoration: none;
	text-shadow: 1px 1px .5px #2E2E2E;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0, .2);
	color: #fff;
	background-color: #B3329C;
	border: none;
	border-radius: 3px;
	padding: 1rem 2rem;
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.project__btn {
		font-size: 3rem;
	}
}

.project__btn-site {
	margin: 1rem;
	display: inline-block;
}

.project__btn-code {
	margin: 1rem;
	padding: 1rem 3.3rem;
	display: inline-block;
}

.project__btn:hover {
	background-color: #A00084;
	box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
	transform: translateY(-2.5px);
}

.project__btn:active,
.project__btn:focus {
	outline: none;
	box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
	transform: translateY(-1.5px);
}

.project__final-button {
	margin-top: 5rem;
}

#btn-projects {
	font-size: 2.5rem;
}

/* RESUME STYLING */

.section-resume {
	position: relative;
	height: 155rem;
	padding: 5rem;
	margin-top: -5rem;
	background-image: linear-gradient(to right bottom, rgba(45,183,137, .8), rgba(160,0,132, .8));
	-webkit-clip-path: polygon(50% 10%, 100% 0, 100% 87%, 0 100%, 0 0);
	clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 87%, 0 0);
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.section-resume {
		height: 130rem;
	}
}

.section-resume__header {
	margin-top: 5rem;
	margin-bottom: 5rem;
	text-align: left;
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.section-resume__header {
		margin-top: 6rem;
		margin-bottom: 5.5rem;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.section-resume__header {
		margin-top: 8rem;
	}
}

.section-resume__text {
	font-size: 1.5rem;
	width: 45%;
	color: #2E2E2E;
	padding-top: 2rem;
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.section-resume__text {
		font-size: 2rem;
		width: 65%;
		padding-top: 3rem;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.section-resume__text {
		font-size: 2rem;
		width: 100%;
	}
}

.resume__display {
	position: absolute;
	top: 30rem;
	left: 30rem;
	margin: 0 5rem;
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.resume__display {
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin: 2rem;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.resume__display {
		top: 54%;
		margin: .5rem;
	}
}

.resume__display > img {
	border-radius: 4px;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0, .2);
}

/* Tablet Styles */
@media only screen and (max-width: 56.25em){
	.resume__display > img {
		height: 90rem;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.resume__display > img {
		height: 75rem;
	}
}

.resume__display--btn {
	float: left;
}

#resume-btn {
	font-size: 1.8rem;
	margin-left: 0;
	text-align: center;
}

/* CONTACT STYLING */
.section-contact {
	height: 53rem;
	font-family: 'Roboto Slab', serif;
	margin-top: -20.3rem;
	padding: 25rem 0;
	position:relative;
	-webkit-clip-path: polygon(0 0, 100% 19%, 100% 100%, 20% 100%);
	clip-path: polygon(0 0, 100% 19%, 100% 100%, 20% 100%);
	background-image: linear-gradient(to right bottom, rgba(51,204,153), rgba(0,0,88));
}
/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.section-contact{
		height: 50rem;
		margin-top: -17rem;
		-webkit-clip-path: polygon(0 0, 100% 19%, 100% 100%, 33% 100%);
		clip-path: polygon(0 0, 100% 19%, 100% 100%, 33% 100%);
	}
}
.contact__details {
	position: absolute;
	top: 35%;
	left: 45%;
}

.contact__email {
	font-size: 2.5rem;
	color: #fff;
	margin: 3rem;
}

#email {
	text-decoration: none;
	color: #eee;
}

#email:hover {
	color: #ABABAB;
}

.form {
	width: 50%;
	position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);

}

.form__group:not(:last-child) {
	margin-bottom: 1rem;
}


.form__input {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	width: 100%;
	height: 3rem;
	border-radius: 3px;
	border: none;
	padding-left: 1rem;
}

.form__input::placeholder {
	color: #2E2E2E;
}

.form__input:focus {
	outline: none;
	background-color: rgba(255,255,255, .3);
	border: 1px solid #2E2E2E;
}

textarea#message {
	height: 20rem;
	padding-top: 1.5rem;
	wrap: soft;
	resize: none;
}

#send-button {
	width: 50%;
	font-size: 1.8rem;
}

.face {
	position: absolute;
	top: 8rem;
	left: 16rem;
	width: 15.5rem;
	height: 15rem;
	filter: brightness(97%);
	border-radius: 50%;
	float: right;
	box-shadow: 0 2rem 3rem rgba(0,0,0, .1);
	margin: 1.5rem;
}

.contact__confirmed {
	font-size: 2rem;
	font-weight: 400;
	color: #eee;
	text-shadow: 0 1.5rem 2rem rgba(0,0,0, .3);
	position: absolute;
	top: 28rem;
	left: 18rem;
	float: right;
}

.footer {
	margin-top: -3rem;
	margin-bottom: 2rem;
	padding-left: 1rem;
	font-size: 1.2rem;
	letter-spacing: 1.7;
	color: #ABABAB;
}

.icons {
	position: relative;
}

.icons__linkedin {
	position: absolute;
	top: -5rem;
	left: 12rem;
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.icons__linkedin {
		left: 10rem;
	}
}

#linkedin {
	width: 3.5rem;
}


.icons__git {
	position: absolute;
	top: -5rem;
	left: 6rem;
}

/* Mobile Styles */
@media only screen and (max-width: 37.5em) {
	.icons__git {
		left: 4rem;
	}
}

#git {
	width: 3.5rem;
}
